---
import Page from "../../layouts/Page.astro";
import Layout from "../../layouts/Layout.astro";
import { globalProps } from "@lib/globalProps.js";

globalProps.page_section = "guides";

const Types = {
  Normal: {
    key: "Normal",
    label: "NORM",
  },
  Fire: {
    key: "Fire",
    label: "FIRE",
  },
  Water: {
    key: "Water",
    label: "WATER",
  },
  Electric: {
    key: "Electric",
    label: "ELECTR",
  },
  Grass: {
    key: "Grass",
    label: "GRASS",
  },
  Ice: {
    key: "Ice",
    label: "ICE",
  },
  Fight: {
    key: "Fight",
    label: "FIGHT",
  },
  Poison: {
    key: "Poison",
    label: "POISON",
  },
  Groun: {
    key: "Groun",
    label: "GROUN",
  },
  Flying: {
    key: "Flying",
    label: "FLY",
  },
  Psychic: {
    key: "Psychic",
    label: "PSYCH",
  },
  Bug: {
    key: "Bug",
    label: "BUG",
  },
  Rock: {
    key: "Rock",
    label: "ROCK",
  },
  Ghost: {
    key: "Ghost",
    label: "GHOST",
  },
  Drago: {
    key: "Drago",
    label: "DRAGO",
  },
  Dark: {
    key: "Dark",
    label: "DARK",
  },
  Steel: {
    key: "Steel",
    label: "STEEL",
  },
  Fairy: {
    key: "Fairy",
    label: "FAIRY",
  },
};
const Specs = {
  hp: {
    label: "HP",
    max: 200,
  },
  attack: {
    label: "Attack",
    max: 200,
  },
  defence: {
    label: "Defence",
    max: 200,
  },
  SP_attack: {
    label: "Sp. Atk",
    max: 200,
  },
  SP_defence: {
    label: "Sp. Def",
    max: 200,
  },
  speed: {
    label: "Speed",
    max: 200,
  },
};
const pokemons_list = [
  {
    name: "Даркдевоир",

    picture: "/images/darkdevo.png",
    id: 1001,
    types: [Types.Fairy, Types.Dark],
    specs: {
      hp: {
        value: 85,
        min: 280,
        max: 374,
      },
      attack: {
        value: 80,
        min: 148,
        max: 284,
      },
      defence: {
        value: 75,
        min: 139,
        max: 273,
      },
      SP_attack: {
        value: 140,
        min: 256,
        max: 416,
      },
      SP_defence: {
        value: 85,
        min: 157,
        max: 295,
      },
      speed: {
        value: 135,
        min: 247,
        max: 405,
      },
    },

    height: 1.5,
    weight: 50.5,
    wayof: ["smth"],
    breeding: ["Невозможно"],
    location: ["???"],

    abilities: ["BadDreams", "Trace", "Pixilate"],

    types_multipliers: {
      Normal: null,
      Fire: null,
      Water: null,
      Electric: null,
      Grass: null,
      Ice: null,
      Fight: null,
      Poison: "x2",
      Groun: null,
      Flying: null,
      Psychic: 0,
      Bug: null,
      Rock: null,
      Ghost: 0.5,
      Drago: 0,
      Dark: 0.5,
      Steel: "x2",
      Fairy: "x2",
    },
  },
  {
    name: "Tsariani",

    picture: "/images/tsarianni.png",
    id: 1002,
    types: [Types.Grass, Types.Water],
    specs: {
      hp: {
        value: 130,
        min: 370,
        max: 464,
      },
      attack: {
        value: 140,
        min: 256,
        max: 416,
      },
      defence: {
        value: 140,
        min: 256,
        max: 416,
      },
      SP_attack: {
        value: 20,
        min: 40,
        max: 152,
      },
      SP_defence: {
        value: 130,
        min: 238,
        max: 394,
      },
      speed: {
        value: 70,
        min: 130,
        max: 262,
      },
    },

    height: 1.2,
    weight: 21.4,

    abilities: ["Merciless", "QueenlyMajesty", "Regenerator"],

    types_multipliers: {
      Normal: null,
      Fire: null,
      Water: 0.5,
      Electric: null,
      Grass: null,
      Ice: null,
      Fight: null,
      Poison: "x2",
      Groun: 0.5,
      Flying: "x2",
      Psychic: null,
      Bug: "x2",
      Rock: null,
      Ghost: null,
      Drago: null,
      Dark: null,
      Steel: 0.5,
      Fairy: null,
    },
  },
  {
    name: "Loviper",

    picture: "/images/loviper.png",
    id: 1003,
    types: [Types.Normal, Types.Poison],
    specs: {
      hp: {
        value: 90,
        min: 290,
        max: 384,
      },
      attack: {
        value: 185,
        min: 337,
        max: 515,
      },
      defence: {
        value: 75,
        min: 139,
        max: 273,
      },
      SP_attack: {
        value: 20,
        min: 40,
        max: 152,
      },
      SP_defence: {
        value: 75,
        min: 139,
        max: 273,
      },
      speed: {
        value: 185,
        min: 337,
        max: 515,
      },
    },

    height: 1.3,
    weight: 28.3,

    abilities: ["Scrappy", "Infiltrator", "ShedSkin"],

    types_multipliers: {
      Normal: null,
      Fire: null,
      Water: null,
      Electric: null,
      Grass: 0.5,
      Ice: null,
      Fight: null,
      Poison: 0.5,
      Groun: "x2",
      Flying: null,
      Psychic: "x2",
      Bug: 0.5,
      Rock: null,
      Ghost: 0,
      Drago: null,
      Dark: null,
      Steel: null,
      Fairy: 0.5,
    },
  },
  {
    name: "Voilur",

    picture: "/images/voilyre.png",
    id: 1004,
    types: [Types.Fire, Types.Fairy],
    specs: {
      hp: {
        value: 100,
        min: 310,
        max: 404,
      },
      attack: {
        value: 75,
        min: 139,
        max: 273,
      },
      defence: {
        value: 90,
        min: 166,
        max: 306,
      },
      SP_attack: {
        value: 145,
        min: 265,
        max: 427,
      },
      SP_defence: {
        value: 100,
        min: 184,
        max: 328,
      },
      speed: {
        value: 120,
        min: 220,
        max: 372,
      },
    },

    height: 1.6,
    weight: 50.5,

    abilities: ["FlashFire", "FlameBody", "Pixilate"],

    types_multipliers: {
      Normal: null,
      Fire: 0.5,
      Water: "x2",
      Electric: null,
      Grass: 0.5,
      Ice: 0.5,
      Fight: null,
      Poison: "x2",
      Groun: "x2",
      Flying: null,
      Psychic: null,
      Bug: 0.25,
      Rock: "x2",
      Ghost: null,
      Drago: 0,
      Dark: 0.5,
      Steel: null,
      Fairy: 0.5,
    },
  },
  {
    name: "Dragtaria",

    picture: "/images/dragtaria.png",
    id: 1005,
    types: [Types.Fairy, Types.Flying],
    specs: {
      hp: {
        value: 90,
        min: 290,
        max: 384,
      },
      attack: {
        value: 140,
        min: 256,
        max: 416,
      },
      defence: {
        value: 115,
        min: 211,
        max: 361,
      },
      SP_attack: {
        value: 120,
        min: 220,
        max: 372,
      },
      SP_defence: {
        value: 115,
        min: 211,
        max: 361,
      },
      speed: {
        value: 80,
        min: 148,
        max: 284,
      },
    },
    height: 1.6,
    weight: 25.5,

    abilities: ["Multiscale", "Pixilate", "NaturalCure"],

    types_multipliers: {
      Normal: null,
      Fire: null,
      Water: null,
      Electric: "x2",
      Grass: 0.5,
      Ice: "x2",
      Fight: 0.25,
      Poison: "x2",
      Groun: 0,
      Flying: null,
      Psychic: null,
      Bug: 0.25,
      Rock: "x2",
      Ghost: null,
      Drago: 0,
      Dark: 0.5,
      Steel: "x2",
      Fairy: null,
    },
  },
  {
    name: "Banblade",

    picture: "/images/banblayde.png",
    id: 1006,
    types: [Types.Steel, Types.Ghost],
    specs: {
      hp: {
        value: 75,
        min: 260,
        max: 354,
      },
      attack: {
        value: 160,
        min: 292,
        max: 460,
      },
      defence: {
        value: 135,
        min: 247,
        max: 405,
      },
      SP_attack: {
        value: 45,
        min: 85,
        max: 207,
      },
      SP_defence: {
        value: 135,
        min: 247,
        max: 405,
      },
      speed: {
        value: 25,
        min: 49,
        max: 163,
      },
    },

    height: 1.3,
    weight: 15,

    abilities: ["NoGuard", "CursedBody", "Prankster"],

    types_multipliers: {
      Normal: 0,
      Fire: "x2",
      Water: null,
      Electric: null,
      Grass: 0.5,
      Ice: 0.5,
      Fight: 0,
      Poison: 0,
      Groun: "x2",
      Flying: 0.5,
      Psychic: 0.5,
      Bug: 0.25,
      Rock: 0.5,
      Ghost: "x2",
      Drago: 0.5,
      Dark: "x2",
      Steel: 0.5,
      Fairy: 0.5,
    },
  },
  {
    name: "Milodeen",

    picture: "/images/mylodine.png",
    id: 1007,
    types: [Types.Water],
    specs: {
      hp: {
        value: 125,
        min: 360,
        max: 454,
      },
      attack: {
        value: 85,
        min: 157,
        max: 295,
      },
      defence: {
        value: 80,
        min: 148,
        max: 284,
      },
      SP_attack: {
        value: 120,
        min: 220,
        max: 372,
      },
      SP_defence: {
        value: 130,
        min: 238,
        max: 394,
      },
      speed: {
        value: 85,
        min: 157,
        max: 295,
      },
    },

    height: 6.2,
    weight: 150,

    abilities: ["LightningRod", "Competitive", "MarvelScale"],

    types_multipliers: {
      Normal: null,
      Fire: 0.5,
      Water: 0.5,
      Electric: "x2",
      Grass: "x2",
      Ice: 0.5,
      Fight: null,
      Poison: null,
      Groun: null,
      Flying: null,
      Psychic: null,
      Bug: null,
      Rock: null,
      Ghost: null,
      Drago: null,
      Dark: null,
      Steel: 0.5,
      Fairy: null,
    },
  },
  {
    name: "Bipoleon",

    picture: "/images/bipoleon.png",
    id: 1008,
    types: [Types.Water, Types.Steel],
    specs: {
      hp: {
        value: 85,
        min: 280,
        max: 374,
      },
      attack: {
        value: 145,
        min: 265,
        max: 427,
      },
      defence: {
        value: 130,
        min: 238,
        max: 394,
      },
      SP_attack: {
        value: 100,
        min: 184,
        max: 328,
      },
      SP_defence: {
        value: 110,
        min: 202,
        max: 350,
      },
      speed: {
        value: 50,
        min: 94,
        max: 218,
      },
    },

    height: 1.7,
    weight: 70,

    abilities: ["Defiant", "Torrent", "InnerFocus"],

    types_multipliers: {
      Normal: 0.5,
      Fire: null,
      Water: 0.5,
      Electric: "x2",
      Grass: null,
      Ice: 0.25,
      Fight: 0.5,
      Poison: 0,
      Groun: "x2",
      Flying: 0.5,
      Psychic: 0.5,
      Bug: 0.5,
      Rock: 0.5,
      Ghost: null,
      Drago: null,
      Dark: 0.5,
      Steel: 0.25,
      Fairy: 0.5,
    },
  },
  {
    name: "Luxvern",

    picture: "/images/luxvern.png",
    id: 1009,
    types: [Types.Electric, Types.Flying],
    specs: {
      hp: {
        value: 95,
        min: 300,
        max: 394,
      },
      attack: {
        value: 135,
        min: 247,
        max: 405,
      },
      defence: {
        value: 82,
        min: 152,
        max: 289,
      },
      SP_attack: {
        value: 91,
        min: 168,
        max: 309,
      },
      SP_defence: {
        value: 82,
        min: 152,
        max: 289,
      },
      speed: {
        value: 135,
        min: 247,
        max: 405,
      },
    },

    height: 1.5,
    weight: 73,

    abilities: ["Guts", "Frisk", "Intimidate"],

    types_multipliers: {
      Normal: null,
      Fire: null,
      Water: null,
      Electric: null,
      Grass: 0.5,
      Ice: "x2",
      Fight: 0.5,
      Poison: null,
      Groun: 0,
      Flying: 0.5,
      Psychic: null,
      Bug: 0.5,
      Rock: "x2",
      Ghost: null,
      Drago: null,
      Dark: null,
      Steel: 0.5,
      Fairy: null,
    },
  },
  {
    name: "Cosmochi",

    picture: "/images/cosmochi.png",
    id: 1010,
    types: [Types.Psychic, Types.Steel],
    specs: {
      hp: {
        value: 90,
        min: 290,
        max: 384,
      },
      attack: {
        value: 94,
        min: 173,
        max: 315,
      },
      defence: {
        value: 122,
        min: 224,
        max: 377,
      },
      SP_attack: {
        value: 100,
        min: 184,
        max: 328,
      },
      SP_defence: {
        value: 132,
        min: 242,
        max: 399,
      },
      speed: {
        value: 132,
        min: 242,
        max: 399,
      },
    },

    height: 1.0,
    weight: 5.0,

    abilities: ["SereneGrace", "Sturdy", "Unaware"],

    types_multipliers: {
      Normal: 0.5,
      Fire: "x2",
      Water: null,
      Electric: null,
      Grass: 0.5,
      Ice: 0.5,
      Fight: null,
      Poison: 0,
      Groun: "x2",
      Flying: 0.5,
      Psychic: 0.25,
      Bug: null,
      Rock: 0.5,
      Ghost: "x2",
      Drago: 0.5,
      Dark: "x2",
      Steel: 0.5,
      Fairy: 0.5,
    },
  },
];
---

<Page>
  <Layout>
    <header>
      Список уникальных покемонов:
      <ul style="list-style: none;">
        {
          pokemons_list.map((pokemon) => (
            <li>
              {pokemon.name} -
              <a href={`#${pokemon.id}`} rel="noopener noreferrer">
                #{pokemon.id}
              </a>
            </li>
          ))
        }
      </ul>
    </header>
    <span class="line"></span>
    {
      pokemons_list.map((pokemon) => (
        <aside id={pokemon.id.toString()}>
          <element-columns style="flex-wrap: wrap; gap: 40px">
            {/* MARK: Image */}
            <element-rows style="gap: 40px">
              <img
                loading="lazy"
                style="width: 350px; height: 250px;"
                src={pokemon.picture}
                alt=""
              />

              <b style="margin-left: 80px">
                Номер в дексе: <i>#{pokemon.id}</i>
              </b>
            </element-rows>

            {/* Type specs */}
            <table>
              <tr>
                <td>Тип:</td>
                <td>
                  {pokemon.types.map((type) => (
                    <span class="type-badge" data-background-for={type.key}>
                      {type.label}
                    </span>
                  ))}
                </td>
              </tr>
              <tr>
                <td>Рост:</td>
                <td>
                  <span>{pokemon.height} М</span>
                </td>
              </tr>
              <tr>
                <td>Вес:</td>
                <td>
                  <span>{pokemon.weight} кг</span>
                </td>
              </tr>
              <tr>
                <td>Абилки:</td>
                <td>
                  {pokemon.abilities.map((ability) => (
                    <li>{ability}</li>
                  ))}
                </td>
              </tr>
              <tr>
                <td>Обитает:</td>
                <td>
                  <span>{pokemon.location}</span>
                </td>
              </tr>
            </table>

            {/* MARK: Wayof */}
            <section>
              <h2>
                <b>Способ получения:</b>
              </h2>
              <ol>
                {pokemon.wayof?.map((way) => (
                  <li>{way}</li>
                ))}
              </ol>
            </section>
            {/* MARK: Breeding */}
            <section>
              <h2>
                <b>Разведение:</b>
              </h2>
              <ul>
                {pokemon.breeding?.map((way) => (
                  <li>{way}</li>
                ))}
              </ul>
            </section>
          </element-columns>
          <hr />
          <br />
          <p>Базовые статы:</p>
          <abc>
            {Object.entries(pokemon.specs).map(([key, stat]) => (
              <div class="slider-container" data-key={key}>
                <span class="slider-label">{Specs[key].label}</span>
                <div
                  class="slider"
                  style={`--data-slider: ${(stat.value / 200) * 200}px`}
                >
                  <b>{stat.value}</b>
                </div>
                <aside class="slider-min">{stat.min}</aside>
                <aside class="slider-max">{stat.max}</aside>
              </div>
            ))}
            <span>
              Total:{" "}
              {Object.values(pokemon.specs).reduce((a, b) => a + b.value, 0)}
            </span>
          </abc>

          <hr />
          <br />

          <element-group class="types_table">
            {Object.keys(pokemon.types_multipliers).map((typeKey) => (
              <div
                class="type-box"
                data-types_multiplier_name={typeKey}
                data-background-for={typeKey}
              >
                {Types[typeKey].label}
              </div>
            ))}
            {Object.values(pokemon.types_multipliers).map((value) => (
              <div class="type-box" data-types_multiplier_value={value}>
                {value}
              </div>
            ))}
          </element-group>

          <span class="line" />
        </aside>
      ))
    }
  </Layout>
</Page>

<style>
  .type-badge {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-right: 5px;
  }

  .card li {
    list-style: none;
  }

  .slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    max-width: min(800px, 100%);

    word-break: keep-all;
  }

  .slider-container:first-of-type .slider-max::before {
    content: "Max: ";
    position: absolute;
    margin-top: -1.5em;
    margin-left: -0.5em;
    opacity: 0.5;
  }
  .slider-container:first-of-type .slider-min::before {
    content: "Min: ";
    position: absolute;
    margin-top: -1.5em;
    width: 1em;
    text-align: center;
    margin-right: 0.5em;
    opacity: 0.5;
  }

  .slider-max {
    position: relative;
    display: flex;
    white-space: pre;
    justify-content: start;
    flex-grow: 1;
    margin-inline: 1em;
  }
  .slider-min {
    position: relative;
    white-space: pre;
    display: flex;
    justify-content: end;
    flex-grow: 1;
    margin-inline: 1em;
  }

  .slider-label {
    width: 100px;
    margin-right: 10px;
  }

  .slider {
    height: 15px;
    width: 200px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .slider::before {
    content: "";
    display: inline-block;
    align-items: center;
    height: 100%;
    width: var(--data-slider, 200px);

    background-color: gold;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid grey;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .slider-value {
    width: 40px;
  }

  .types_table {
    display: grid;
    --size: 1em;

    grid-template-columns: repeat(18, 60px);
    grid-template-rows: repeat(2, 60px);
    gap: 1px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    grid-template-rows: repeat(2, 60px);
    gap: 1px;
  }

  .type-box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 10px;
    border-radius: 5px;
  }

  [data-background-for="Normal"] {
    background-color: #a8a77a;
  }
  [data-background-for="Fire"] {
    background-color: #ee8130;
  }
  [data-background-for="Water"] {
    background-color: #6390f0;
  }
  [data-background-for="Electric"] {
    background-color: #f7d057;
  }
  [data-background-for="Grass"] {
    background-color: #7ac74c;
  }
  [data-background-for="Ice"] {
    background-color: #96d9d6;
  }
  [data-background-for="Fight"] {
    background-color: #c22e28;
  }
  [data-background-for="Poison"] {
    background-color: #a33ea1;
  }
  [data-background-for="Groun"] {
    background-color: #e2bf65;
  }
  [data-background-for="Flying"] {
    background-color: #a98ff3;
  }
  [data-background-for="Psychic"] {
    background-color: #ee99ac;
  }
  [data-background-for="Bug"] {
    background-color: #a6b91a;
  }
  [data-background-for="Rock"] {
    background-color: #b6a136;
  }
  [data-background-for="Ghost"] {
    background-color: #735797;
  }
  [data-background-for="Drago"] {
    background-color: #6f35fc;
  }
  [data-background-for="Dark"] {
    background-color: #a98a78;
  }
  [data-background-for="Steel"] {
    background-color: #b7b7ce;
  }
  [data-background-for="Fairy"] {
    background-color: #d685ad;
  }

  [data-types_multiplier_value="x2"] {
    background-color: #7ac74c;
    color: white;
  }
  [data-types_multiplier_value="0"] {
    background-color: #606060;
    color: white;
  }
  [data-types_multiplier_value="0.5"] {
    background-color: #c22e28;
    color: white;
  }
  [data-types_multiplier_value="0.25"] {
    background-color: #a04338;
    color: white;
  }
  .empty {
    background-color: transparent;
    color: transparent;
  }

  ol li {
    list-style: inherit;
    list-style-position: inside;
  }
  li {
    list-style-position: inside;
    list-style: none;
  }
</style>
