---
import Page from "@/layout/Page.astro";
import Layout from "@/layout/Layout.astro";
import Tooltiped from "@/Tooltiped.astro";
import { globalProps } from "@/globalProps.js";
import HowToUse from "./assets/howtouse.jpg";
import XL from "./assets/XL.png";
import L from "./assets/L.png";
import M from "./assets/M.png";
import S from "./assets/S.png";
import XS from "./assets/XS.png";
import Bad from "./assets/Bad.png";
import DMax from "./assets/DMax.png";
import Grid_Safety_Goggles from "./assets/Grid_Safety_Goggles.png";
import Booster from "./assets/Booster.png";
import raid from "./assets/raid.jpg";
import portals from "./assets/portals.png";
import masterloot from "./assets/masterloot.jpg";
import DynaMax from "./assets/DynaMax.png";
import Megaevol from "./assets/Megaevol.jpg";
import Candies from "./assets/Candies.jpg";
import rare from "./assets/rare.png";
import beastloot from "./assets/beastloot.jpg";
globalProps.page_section = "guides";
---

<Page>
	<Layout article_variant="1">
		<section>
			<h1>Полезное</h1>
			<h4>
				В этом разделе будут размещены уточнения по некоторым другим разделам, а
				также мини гайды по игровым механикам мода Pixelmon на <span
					id="
				openSite"
					style="color:white; text-decoration: underline; cursor: pointer;"
				>
					Black Dragon
				</span>
			</h4>
			<span class="line-1"></span>
			<h3>Список всего что есть в этом разделе:</h3>
			<ul data_variant_1>
				<li><a href="#Ultra">Ультра мир</a></li>
				<li><a href="#Raids">Рейды</a></li>
				<li><a href="#Dynamax">Динамакс</a></li>
				<li><a href="#MegaEvol">Мега Эволюции</a></li>
				<li><a href="#LvlUp">Прокачка покемонов</a></li>
			</ul>
		</section>
		<hr data_variant_1 />
		<section id="Ultra">
			<h3>Ультра мир</h3>
			Ультра-мир очень схож с Эндер-миром. Он состоит из множества летающих островов,
			находящихся в разных биомах, так же там есть уникальные ультра-биомы. В этом
			измерении с перемещением есть не большие проблемы, так как там понижена гравитация,
			но для вас это не будет проблемой если у вас есть <Tooltiped>
				<span style="text-decoration: underline dotted" slot="container"
					>ультра ускоритель</span
				>
				<img
					loading="lazy"
					slot="content"
					src={Booster.src}
					alt=""
					width="124"
					height="124"
				/>
			</Tooltiped>
			Так же в ультра-мире шансы спавна хидов и шайни покемонов больше в 2 раза Туман
			в измерении сильно уменьшает дальность обзора, для того, что бы ослабить эффект
			тумана можно надеть <Tooltiped>
				<span style="text-decoration: underline dotted" slot="container"
					>Защитные очки</span
				>
				<img
					loading="lazy"
					style=" display: block"
					slot="content"
					src={Grid_Safety_Goggles.src}
					alt=""
				/>
			</Tooltiped> в слот шлема Исследуя ультра-мир, помимо обычных деревень вы можете
			найти несколько других данжей, а именно: крепости из незера и эндер-города
			с летающими кораблями. По всему ультра миру разбросаны бист-луты и мастер-луты
			Бист-лут.
			<details>
				<summary>Показать картинку</summary>
				<img
					loading="lazy"
					src={beastloot.src}
					alt=""
					width="750"
					height="350"
				/>
			</details>
			Мастер-лут.
			<details>
				<summary>Показать картинку</summary>
				<img
					loading="lazy"
					src={masterloot.src}
					alt=""
					width="750"
					height="350"
				/>
			</details>
			Здесь можно найти алтари легендарных птиц (Артикуно, Запдос, Молтрес) / Временные
			алтари для призыва Палкии, Гиратины, Диалги.
			<h3 style=" display: block">
				Уверен, что у вас появился вопрос, а как же попасть в этот ультра-мир ?
				Для этого нужен портал в ультра-мир.
			</h3>
			<details>
				<summary>Показать картинку</summary>
				<img loading="lazy" src={portals.src} alt="" width="350" height="250" />
			</details>
			Получить этот портал можно двумя способами.
			<ul class="list">
				<li>
					Первый: С небольшим шансом портал может заспавнится в обычном мире.
				</li>
				<li>
					Второй: Заспавнить его самостоятельно, использовав внешнюю атаку
					Солгалео, Луналы, Арцеуса, Некрозмы или Палкии.
				</li>
			</ul>
			<h3 style=" display: block">
				Внешнюю атаку можно выбрать нажав на «B», а использовать на «G»
			</h3>
			<details>
				<summary>Показать картинку</summary>
				<img
					loading="lazy"
					src={HowToUse.src}
					alt=""
					width="550"
					height="350"
				/>
			</details>
		</section>
		<hr data_variant_1 />
		<section id="Raids">
			<h3>Рейды</h3>
			Рейды это очень полезная штука, с которой вы можете залутать хорошие предметы,
			но далеко не всегда и не со всех рейдов падает хороший лут, всё зависит от
			вашей удачи и от уровня рейда. Всего существует 5 уровней рейда, от 1 звезды
			до 5. Рейды 1–4* вы можете закрывать соло, но для 5* рейдов, вам возможно понадобится
			помощь. С рейдов 1–4* вам скорее всего будет падать так себе лут, за рейд 5*
			награды уже будут получше, но опять же, всё зависит от вашей удачи, вам может
			дропнуться как несколько голд крышек, так и пара ягод и конфет.
			<h3 style=" display: block">Где найти эти рейды?</h3>
			Рейды спавнятся в рейд логовах, это такие дырки:
			<details>
				<summary>Показать картинку</summary>
				<img loading="lazy" src={raid.src} alt="" width="750" height="450" />
			</details>
			<p>Рейд логова вы можете найти в "Заповедник" и "Разлом".</p>
			<p>
				Покемоны могут вернуться к жизни во время битвы. Если битва продлится
				более 10 ходов или покемоны участников рейда будут повержены в общей
				сложности 4 раза, то рейд завершится неудачей, и покемон исчезнет.
			</p>
			<p>
				Боссы в рейдах появляются с небольшой задержкой. Большинство логов,
				которые вы обнаружите, скорее всего будут пустыми.
			</p>
		</section>

		<hr data_variant_1 />

		<section id="Dynamax">
			<h3>Динамакс</h3>
			Динамакс — это игровая механика, позволяющая покемонам достигать гигантских
			размеров и получать усиленные способности. Любой покемон может использовать
			Динамакс, если у тренера есть специальный Динамакс-браслет. Использовать Динамакс
			во время битвы может только один покемон в команде, другие автоматом заблокируются.
			Чтобы активировать Динамакс во время битвы, необходимо нажать на специальную
			круглую кнопку между ходами покемона и выбрать следующий ход
			<p style=" display: block">
				Вот фото того, как выглядит эта круглая кнопка:
			</p>
			<details>
				<summary>Показать картинку</summary>
				<img loading="lazy" src={DynaMax.src} alt="" />
			</details>
			Когда покемон становится Динамакс, его ходы заменяются Максимальными атаками
			— это мощные разрушительные ходы с дополнительными эффектами. Вместо статусных
			атак, покемон в Динамаксе использует Максимальную Защиту (Max Guard). Стандартная
			Динамакс механика увеличивает максимальное здоровье покемона на 50%, что означает,
			что если у покемона было 300 из 400 здоровья, то после Динамакса будет 450
			из 600 и наоборот. Однако также важно иметь в виду, что у покемонов есть уровень
			Динамакса. За каждый уровень бонус к здоровью увеличивается на 5%, и это увеличение
			может достигать 50%, так как максимальное количество уровней - 10. Таким образом,
			общий бонус к здоровью в результате уровней Динамакса может составить до 100%
			<h3 style=" display: block">Как получить Динамакс-браслет?</h3>
			Для получения Динамакс-браслета вам нужно будет найти и выполнить квест "Падающая
			звезда". В нём вам нужно будет убить 75 любых покемонов, и словить 25 любых
			покемонов.
		</section>

		<hr data_variant_1 />

		<section id="MegaEvol">
			<h3>Мега Эволюции</h3>
			Мега-Эволюция — это особая форма трансформации, доступная определенным покемонам.
			При этой эволюции происходит изменение внешнего вида покемона, увеличиваются
			его статы и могут происходить изменения в его типах и способностях. Для использования
			Мега-Эволюции требуется наличие мега камня соответствующего выбранному покемону,
			а также Мега браслет. С использованием Мега-Эволюции в битве всё так же как
			и с Динамаксом.
			<details>
				<summary>Показать картинку</summary>
				<img loading="lazy" src={Megaevol.src} alt="" />
			</details>
			<h3 style=" display: block">Как получить Мега-браслет?</h3>
			Да всё просто, вам нужно убить Мега босса, после его убийства у вас автоматически
			появится Мега браслет.
		</section>
		<hr data_variant_1 />
		<section id="LvlUp">
			<h3>Прокачка покемонов</h3>
			Прокачивать покемонов вы будете либо с помощью битв с дикими покемонами, либо
			с помощью конфет, конфеты бавают разные, я пройдусь и обьясню про каждую конфету.
			На счёт битв с дикими покемонами, опыт вы будете получать в зависимости от
			того, какого уровня дикий покемон, чем выше уровень, тем больше опыта за победу
			над ним вы получите. С каждым новым уровнем, вам нужно будет всё больше и больше
			опыта для перехода на следующий уровень. Все конфеты которые есть на проекте:
			<details>
				<summary>Показать картинку</summary>
				<img loading="lazy" src={Candies.src} alt="" />
			</details>
			<Tooltiped>
				<span style="text-decoration: underline dotted" slot="container"
					>Редкая конфета:</span
				>
				<img
					loading="lazy"
					style=" display: block"
					slot="content"
					src={rare.src}
					alt=""
					width="30"
					height="30"
				/>
			</Tooltiped> Повышает 1 уровень покемона, не зависимо от того, сколько EXP
			ему нужно для его повышения.
			<Tooltiped>
				<span style="text-decoration: underline dotted" slot="container"
					>XL Редкая конфета:</span
				>
				<img
					loading="lazy"
					style=" display: block"
					slot="content"
					src={XL.src}
					alt=""
					width="30"
					height="30"
				/>
			</Tooltiped> XL конфеты дают очень много опыта, она очень полезна из-за того,
			что её можно использовать на низкоуровневых покемонах, что бы не тратить кучу
			Редких конфет на его прокачку до 100 лвла.
			<Tooltiped>
				<span style="text-decoration: underline dotted" slot="container"
					>L Редкая конфета</span
				>
				<img
					loading="lazy"
					style=" display: block"
					slot="content"
					src={L.src}
					alt=""
					width="30"
					height="30"
				/>
			</Tooltiped> \ <Tooltiped>
				<span style="text-decoration: underline dotted" slot="container"
					>M Редкая конфета</span
				>
				<img
					loading="lazy"
					style=" display: block"
					slot="content"
					src={M.src}
					alt=""
					width="30"
					height="30"
				/>
			</Tooltiped> \ <Tooltiped>
				<span style="text-decoration: underline dotted" slot="container"
					>S Редкая конфета</span
				>
				<img
					loading="lazy"
					style=" display: block"
					slot="content"
					src={S.src}
					alt=""
					width="30"
					height="30"
				/>
			</Tooltiped> \ <Tooltiped>
				<span style="text-decoration: underline dotted" slot="container"
					>XS Редкая конфета</span
				>
				<img
					loading="lazy"
					style=" display: block"
					slot="content"
					src={XS.src}
					alt=""
					width="40"
					height="40"
				/>
			</Tooltiped>: Их используют с той же целью, что и XL, но конфеты S и XS
			дают очень мало опыта, по этому их использование весьма сомнительное

			<Tooltiped>
				<span style="text-decoration: underline dotted" slot="container"
					>Вредные конфеты:</span
				>
				<img
					loading="lazy"
					style=" display: block"
					slot="content"
					src={Bad.src}
					alt=""
					width="30"
					height="30"
				/>
			</Tooltiped> Понижают уровень покемона на 1 единицу. Используют их для того
			что бы понизить уровень покемона, после чего повысить его, и изучить нужную
			атаку.Так же их использование распространено в целях снизижения уровня, до
			минимального уровня определённых турниров.
			<Tooltiped>
				<span style="text-decoration: underline dotted" slot="container"
					>Динамакс конфеты:</span
				>
				<img
					loading="lazy"
					style=" display: block"
					slot="content"
					src={DMax.src}
					alt=""
					width="24"
					height="24"
				/>
			</Tooltiped> Динамакс конфеты испольюзут, что бы повысить динамкс уровень желаемого
			покемона, у каждого покемона изначально нулевой уровень динамакса, его максимальное
			значение — десять, то есть, что бы замаксить динамакс уровень вашего покемона,
			вам нужно будет потратить 10 Динамакс конфет.
		</section>
	</Layout>

	<script>
		document.getElementById("openSite").addEventListener("click", function () {
			window.open("https://bd-server.com/", "_blank");
		});
	</script>
</Page>

<style>
	img {
		background-color: #888888;
	}
</style>
