---
import Page from "@/layout/Page.astro";
import Copyable from "@/Copyable.astro";
import { globalProps } from "@/globalProps.js";
import Layout from "@/layout/Layout.astro";
import MyRender from "./Render.astro";
globalProps.page_section = "guides";

enum AspectEnum {
	Control = "Control",
	UserFocusExperience = "UserFocusExperience",
	DevTools = "DevTools",
	RichText = "RichText"
}
const ComponentsList = new Map(
	[
		{
			key: "HorizontalLine",
			aspects: [AspectEnum.UserFocusExperience],
			variants: [
				{
					variant_name: "Native",
					demo_id: "<hr>",
				},
				{
					variant_name: "Margin",
					description: "Интегрированна в дизайн сайта; имеет блочные отступы",
					demo_id: "<hr data_variant_1>",
				},
			],
		},
		{
			key: "UnorderedList",
			aspects: [AspectEnum.UserFocusExperience, AspectEnum.RichText],
			variants: [
				{
					variant_name: "Native",
					demo_id: "<ul>",
				},
				{
					variant_name: "Inline",
					description: "Линейный список более эффективно реализует доступное пространство; не превышайте 60em",
					demo_id: "<ul data_variant_1>",
				},
			],
		},
		{
			key: "Copyable",
			aspects: [AspectEnum.RichText],
			variants: [
				{
					variant_name: "Native",
					description: "Когда содержимое полезно скопировать",
					demo_id: "<Copyable>",
				},
			],
		},
		{
			key: "Tooltiped",
			aspects: [AspectEnum.RichText],
			variants: [
				{
					variant_name: "Native",
					description: "Позволяет отобразить подробности при наведении или клике. Рекомендуется указывать контент за круглыми скобками, а не скрывать его*",
					demo_id: "<Tooltiped>",
				},
			],
		},
		{
			key: "CodeTag",
			aspects: [AspectEnum.DevTools],
			variants: [
				{
					variant_name: "Native",
					demo_id: "<Code code= language=>",
				},
			],
		},
		{
			key: "MemoriedInput",
			aspects: [AspectEnum.Control],
			variants: [
				{
					variant_name: "Native",
					description: "Синхронизирует и запоминает своё значение",
					demo_id: `<MemoriedInput key= />`,
				}
			]
		}
	].map((item) => [item.key, item])
);

function aspects_set() {
	return Array.from(
		new Set(
			Array.from(ComponentsList.values())
				.map(($) => $.aspects)
				.flat()
		).values()
	);
}

function components_with_aspect(value: AspectEnum) {
	return Array.from(ComponentsList.values()).filter(($) =>
		$.aspects.includes(value)
	);
}
---

<Page>
	<Layout article_variant="0">
		<!-- Disable -->
		<section slot="Header"></section>
		<!-- Disable -->
		<section slot="Comments"></section>

		<!-- MARK: Left sidebar
		  -->
		<nav slot="NavContent">
			{
				aspects_set().map((aspect, i) => (
					<li>
						<a href={`#${aspect}`} rel="noopener noreferrer">{i + 1}. {aspect}</a>
					</li>
				))
			}
		</nav>

		<!-- MARK: Main
		  -->

		<!-- 
		Structure: 
		main /
			section[data_chapter]
				element-group
					h2
					ul
				ul[data_ul_components] /
					section[data_component]
						h4
						ul[data_ul_demo_id] /
							li[data_demo_id]
								h5
								p
								aside[data_preview]
		-->
		<main>
			<element-group>
				<p><i>Все демонстрации имеют внутренний отступ 1rem*</i></p>
				<p><i>Компоненты могут находиться одновременно в нескольких разделах**</i></p>
						
			</element-group>
			<hr>
			{
				aspects_set().map((aspect) => (
					<section data_chapter id = {aspect}>
						<element-group>
							<h2>Раздел: {aspect}</h2>
							<ul data_variant_1>
								{components_with_aspect(aspect).map(($) => (
									<li><a href = {`#${$.key}`}>{$.key}</a></li>
								))}
							</ul>
						</element-group>
						<ul data_ul_components>
						{components_with_aspect(aspect).map(($) => (
							<section id={$.key} data_component>
								{(
									<h4>Компонент: {$.key}</h4>
									<ul data_ul_demo_id data_variant_0>{$.variants.map(variant => 
										<li data_demo_id = {variant.demo_id}>
											<h5><Copyable>{variant.demo_id}</Copyable></h5>
											<p>{variant.description}</p>
											<aside data_preview x={variant.demo_id}>
												<MyRender key = {variant.demo_id}/>
											</aside>
										</li>
									)}</ul>
								)}
							</section>
						))}
						</ul>
					</section>
				))
			}
			<hr>
		<footer>
			<h4>Исходные демонстраций (через VSCode)</h4>
			<a target="_blank" href="https://vscode.dev/github/BooBooBlant/NameLog/blob/main/src/demo/components/Render.astro">vscode.dev/.../demo/components</a>
		</footer>
		</main>
	</Layout>
</Page>

<!-- Styles -->
<style>
main {
	display: flex;
	flex-direction: column;
	--base_hierarchy_gap: 0.5rem;
	gap: calc(var(--base_hierarchy_gap) * pow(var(--divina_proportione), 2));
	line-height: 1.6;
	padding-bottom: 50vh;
	scroll-snap-type: y mandatory;
}

[data_chapter] {
	display: flex;
	flex-direction: column;
	gap: calc(var(--base_hierarchy_gap) * var(--divina_proportione));
	scroll-snap-align: start;
	scroll-snap-stop: always;

	&:has([data_preview]:hover) {
		&::before {
			background: var(--accent-color);
		}
	}

	&::before {
		content: "";
		width: 2px;
		background: #8888;
		left: -1rem;
		height: 100%;
		position: absolute;
		display: block;
	}
	position: relative;
}

[data_ul_components] {
	display: flex;
	flex-direction: column;
	gap: calc(var(--base_hierarchy_gap) * var(--divina_proportione));
}

[data_ul_demo_id] {
	display: flex;
	gap: var(--base_hierarchy_gap);
	flex-direction: column;
	list-style: none;
	position: relative;
}

[data_demo_id] {
	&:has([data_preview]:hover) {
		&::before {
			background: var(--accent-color);
		}
	}

	&::before {
		content: "";
		width: 2px;
		background: linear-gradient(to bottom, white, transparent);
		left: -0.5rem;
		height: 100%;
		position: absolute;
		display: block;
	}
	position: relative;
}


h5 {
	background: #8888;
	margin-right: 1rem;
	display: inline;
}
[data_demo_id] p {
	max-width: 60em;
}
[data_preview] {
	border: 1px solid;
	padding: 1rem;
}


</style>
